<div class="comment-section">
    <h3>Comments <small>( {{post.Comments.count}} )</small></h3>
    
    <form action="{% url 'social:detail' post.id %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" value="Submit">comment</button>
    </form>

    <div class="comment-text">
        {% if not post.Comments.all %}
        <p>This post has no comments yet... be the first to comment.</p>
        {% else %}
            {% for comment in post.Comments.all %}
                <p><strong>{{ comment.user.username }}</strong> <small>{{ comment.created }}</small></p>
                
                <blockquote>{{ comment.text }}</blockquote>
            {% endfor %}
        {% endif %}
    </div>
    
</div>

