<div>
    <h3>Comments</h3>
    {{post.Comments.count}}

    <form action="{% url 'social:detail' post.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">comment</button>
    </form>
    {% if not post.Comments.all %}
    This post has no comments yet...
    <a href="#">Add comment</a>
    {% else %}
        {% for comment in post.Comments.all %}
           <strong>{{ comment.user.username }}</strong>
            {{ comment.created }}
            {{ comment.text }}
        {% endfor %}
    {% endif %}

</div>