{% extends 'base.html' %}
{% load static %}
{% load cache_bust %}

{% block title %}{{ post.title }} - @{{  post.user }}{% endblock%}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}?{% cache_bust %}" />

{% endblock %}

{% block content %}
<div class="detail-container">
    <div class="post-image">
        <img src="{{post.image.url}}" alt="{{ post.location }}">
    </div>

    <div class="post-text">
        <div>
            <h1>{{ post.title }}</h1>
            <small>{{ post.created|date:"d F Y" }}</small>
            {% if user.is_authenticated and request.user == post.user %}
            <a class="edit-btn" href="{% url 'social:edit_post' pk=post.pk %}"><i class="bi bi-pencil-fill"></i></a>
            {% endif %}
        </div>
        
        <div class="post-description">
            <div>
                <h2>{{ post.destination }}</h2>
                <h3>{{ post.location }}</h3>
            </div>
            <h4>-</h4>
            <div>
                <h4>{{ post.dest_type }}</h4>
            </div>
        </div>

        <hr>
    
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>

        <hr>
    
        
        <div class="analytics">
            <div>{{post.Comments.count}}&nbsp;<i class="bi bi-chat"></i></div>
            {% include 'social/likes.html' %}
        </div>
        
        
    </div>

</div>

{% include 'social/comment.html' %}




{% endblock%}

{% block js %}
<script src="https://unpkg.com/htmx.org@1.6.0"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (e) => {
    e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock %}
    
    
